.container{
      display : flex ;
      justify-content : center ;
      align-items : center; 
}

.card__container {
     padding-block : 5rem;
}

.card__content {
     margin-inline : 1.75rem;
     border-radius : 1.25rem;
     overflow : hidden ;
}

.card__text {
     width : 300px ;
     border-radius : 1.25rem;
     overflow: hidden ;
}

.card__image {
     position: relative ;
     background-color : var ;
     padding-top :1.5rem;
     margin-bottom :-.75rem;
}

.card__data {
     background-color : var ;
     padding : 1.5rem 2rem;
     border-radius : 1rem ;
     text-align : center;
     position : relative ;
     z-index : 10 ;
}

.card__img {
     width : 100px ;
     margin: 0 auto ;
     position: relative ;
     z-index : 5;
}

.card__shadow {
     background-color : var(--shadow-color);
     width : 100px ;
     height : 25px ;
     border-radius : 50% ;
     position : absolute ;
     top : 1.75rem ;
     left : 0 ;
     right : 0 ;
     margin-inline : auto ;
}

.card__name {
     font-size : var(--h2-font-size);
     margin-bottom : 1.75rem ;
     
}